.start {
    background-color: #363636;
    border-radius: 5px;
    padding: 30px;
    margin: 50px;
}

.innerSection{
    background-color: #545454;
    margin: 100px;
    padding: 200px;
}

/* .buttonSection {
    background-color:#363636 ;
    margin: 10px;
    padding: 30px;
    max-width: 130px;
    border-radius: 25px;
} */

.button {
    transition-duration: 0.4s;
    background-color:#363636 ;
    height: 100px;
    width: 300px;
    border: 0px; 
    border-radius: 25px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  h3 {
    color: #ff1616;
  }

#front {
    float:left;
}
#back{
    float:right;
}

/* #front{
    height:100px;
    width: 170px;
} */

#bodypartimg {
    position:relative;
    height:300px;
}

.head {
    position: absolute;
    top: 30px;
    height:100px;
    width: 250px;
}

.head2{
    position: absolute;
    top: 30px;
    left: 977px;
    height:100px;
    width: 300px;
}
.head2:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.head:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.chest {
    position: absolute;
    top: 130px;
    height:100px;
    width: 251px;
}


.chest:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
.abs {
    position: absolute;
    top: 230px;
    height:100px;
    width: 250px;
}
.abs:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
.legs{
    position: absolute;
    top: 330px;
    height:150px;
    width: 249px;
}
.legs:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
.calf {
    position: absolute;
    top: 480px;
    height:150px;
    width: 249px;
}
.calf:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }


  .back {
        position: absolute;
        left:1000px;
        top: 130px;
        height:180px;
        width: 251px;

  }
  .back:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
.glutes {
    position: absolute;
    left:1000px;
    top: 310px;
    height:70px;
    width: 252px;
}
.glutes:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.hamstrings {
        position: absolute;
        left:1000px;
        top: 380px;
        height:100px;
        width: 248px;
    
}

.hamstrings:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
.calf2 {
        position: absolute;
        left:1000px;
        top: 480px;
        height:150px;
        width: 248px;

}

.calf2:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

/* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

  /* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  } */